@model IEnumerable<BusinessObject.AlbumBO>

@{
    ViewBag.Title = "Album";
}

<h2>Album</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.album_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.album_Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.album_Year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.album_Producer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.song_Title)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.album_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.album_Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.album_Year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.album_Producer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.song_Title)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
