@model BusinessObject.AlbumBO

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>



<form id="updateAlbumForm" method="PUT">
    <div class="form-horizontal">
        <h4>AlbumBO</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.album_Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.album_Title, new { htmlAttributes = new { @class = "form-control", @id = "album_title" } })
                @Html.ValidationMessageFor(model => model.album_Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.album_Year, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.album_Year, new { htmlAttributes = new { @class = "form-control", @id = "album_year" } })
                @Html.ValidationMessageFor(model => model.album_Year, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.album_Producer, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.album_Producer, new { htmlAttributes = new { @class = "form-control", @id = "album_producer" } })
                @Html.ValidationMessageFor(model => model.album_Producer, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.song_Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.song_Title, new { htmlAttributes = new { @class = "form-control", @id = "song_title" } })
                @Html.ValidationMessageFor(model => model.song_Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" id="saveAlbumUpdate" />
            </div>
        </div>
    </div>
</form>

<div>
    @Html.ActionLink("Back to List", "Album")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
            $('#saveBlogUpdate').click(function () {
                var title = document.getElementById("album_title").value;
                var year = document.getElementById("album_year").value;
                var producer = document.getElementById("album_producer").value;
                var songTitle = document.getElementById("song_title").value;
                var Data = {
                    album_title: title,
                    album_year: year,
                    album_producer: producer,
                    song_title: songTitle
                };
                console.log(Data);
                $.ajax({
                    url: '/api/blog',
                    type: 'PUT',
                    data: JSON.stringify(Data),
                    contentType: "application/json",
                    success: function (response) {
                        //...
                        alert(response)
                    }, error: function () {
                        alert("Error occured!!")
                    }
                });
            })
    </script>
}
